@media (max-width: 1150px) {
    .header__nav {
        max-height: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.90);
        border-radius:  0 0 20px 20px;
        position: absolute;
        top: 99.5%;
        left: 20px;
        width: 50%;
        transition: max-height 0.3s, padding 0.3s ease;
        z-index: 10;
    }

    .header__list {
        flex-direction: column;
    }

    .header__right {
        max-width: 30%;
    }

    .header__left label {
        display: block;
    }

    .header__left #menu-toggle:checked + label + .header__nav {
        max-height: 500px;
        padding: 20px;
    }

    .header__left #menu-toggle:checked + label::before {
        transform: rotate(180deg);
    }

    /* index */

    .title-text {
        max-width: none;
        text-align: center;
    }

    .decor-1 {
        left: -40px;
    }

    .decor-2 {
        right: -30px;
    }
    
}

@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    /* index */

    .bookNow {
        background-position: 95px center;
    }
}

@media (max-width: 650px) {
    .icons {
        display: none;
    }

    .header__right {
        max-width: 15%;
        justify-content: center;
    }

    /* index */

    .bookNow {
        padding: 18px 72px 18px 18px;
        right: 20px;
    }

    .decor {
        padding: 15px;
        min-height: 300px;
    }

    .decor__desc {
        padding: 10px 15px;
    }

    .decor-1 {
        bottom: 40px;
        left: -10px;
    }

    .decor-2 {
        top: 60px;
    }
}

@media (max-width: 500px) {
    .header__right {
        display: none;
    }

    .supportUs {
        padding: 5px 10px;
        font-size: 1rem;
    }
}