/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1150px) {
    html {
        font-size: 12px;
    }


    .header__nav {
        max-height: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.90);
        border-radius:  0 0 20px 20px;
        position: absolute;
        top: 99.5%;
        left: 20px;
        width: 50%;
        -webkit-transition: max-height 0.3s, padding 0.3s ease;
        -o-transition: max-height 0.3s, padding 0.3s ease;
        transition: max-height 0.3s, padding 0.3s ease;
        z-index: 100;
    }

    .header__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .header__right {
        max-width: 30%;
    }

    .header__left label {
        display: block;
    }

    .header__left #menu-toggle:checked + label + .header__nav {
        max-height: 500px;
        padding: 20px;
    }

    .header__left #menu-toggle:checked + label::before {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
    }

    /* index */

    .bookNow {
        background-position: 95px center;
    }

    .title-text {
        max-width: none;
        text-align: center;
    }

    .decor-1 {
        left: -40px;
    }

    .decor-2 {
        right: -30px;
    }
    
    .arrow {
        width: 80px;
    }
    
}

@media (max-width: 1024px) {
    /* index */

    .content-1 {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    /* about */

    .hero-wrapper {
        background-position: center center;
    }

}

@media (max-width: 730px) {
    /* index */

    .content-2 {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    /* exhibitions */

    .exhibits__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .exhibits__img {
        max-width: none;
        max-height: none;
    }
}

@media (max-width: 650px) {
    .header-icons {
        display: none;
    }

    .header__right {
        max-width: 15%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    /* index */

    .bookNow {
        padding: 18px 72px 18px 18px;
        right: 20px;
    }

    .decor {
        padding: 15px;
        min-height: 300px;
    }

    .decor__desc {
        padding: 10px 15px;
    }

    .decor-1 {
        bottom: 40px;
        left: -10px;
    }

    .decor-2 {
        top: 60px;
    }

    .shop-wrapper {
        padding: 30px;
    }
    
    .shop-wrapper h2 {
        font-size: 2.5rem;
    }

    .shop-desc {
        font-size: 3rem;
    }

    /* about */

    .content__list {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .header__right {
        display: none;
    }

    .supportUs {
        padding: 5px 10px;
        font-size: 1rem;
    }

    .footer-wrapper {
        padding: 20px;
    }

    /* index */

    .shop-wrapper h2 {
        font-size: 2rem;
    }

    .shop-desc {
        font-size: 2.1rem;
    }

    .shop-info {
        font-size: 1rem;
    }
}