/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* hero */

.main-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 80px;
}

.title-text {
    max-width: 510px;
}

.decor {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative;
    min-height: 340px;
    padding: 30px;
    border-radius: 24px;
    border: 1px solid #C2C2C2;
    background: url("../images/page-background.jpg"), lightgray 50% / cover no-repeat;
    -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.25) inset;
}

.decor__desc {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 30px;
    border-radius: 38px;
    border: 1px solid #A5A5A5;
    background: -o-linear-gradient(327deg, #FAFAFA 21.87%, #C2C2C2 94.35%);
    background: linear-gradient(123deg, #FAFAFA 21.87%, #C2C2C2 94.35%);
    -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.25) inset;
    color: #111;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 10;
}

.decor-1 {
    position: absolute;
    max-width: 80%;
    bottom: -80px;
    left: -80px;
}

.decor-2 {
    position: absolute;
    max-width: 40%;
    top: -10px;
    right: -50px;
}

.main-title {
    margin-bottom: 20px;
    color: #70141C;
    font-size: 4.5rem;
}

.main-desc {
    line-height: 40px;
    color: #70141C;
    font-size: 1.8rem;
}

.bookNow {
    position: absolute;
    bottom: 20px;
    right: 40px;
    padding: 22px 72px 22px 22px;
    font-weight: 600;
    border-radius: 32px;
    background-image: url("../images/btn-arrow.png");
    background-position: 112px center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* content */

.wrapper {
    padding: 25px;
    border-radius: 30px;
    background: -o-linear-gradient(320deg, #EFEFEF 25.65%, #FFF 30.25%, #FDFDFD 34.58%, #CACACA 92.71%);
    background: linear-gradient(130deg, #EFEFEF 25.65%, #FFF 30.25%, #FDFDFD 34.58%, #CACACA 92.71%);
    -webkit-box-shadow: 0px 70px 134px 0px rgba(0, 0, 0, 0.25), 0px -70px 134px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 70px 134px 0px rgba(0, 0, 0, 0.25), 0px -70px 134px 0px rgba(0, 0, 0, 0.12);
}

.content-1, .content-2 {
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.content-1 {
    margin-bottom: 20px;
}

.content-link {
    display: inline-block;
    width: 100%;
}

.content-link .content__img {
    width: 100%;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
}

.gallery .content-link, 
.gallery .content-link .content__img{
    height: 100%;
}

.hover-box{
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hover-box:hover {
    -webkit-transform: scale(105%);
        -ms-transform: scale(105%);
            transform: scale(105%);
}

.small-cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.small-cards {
    -ms-flex-item-align: end;
        align-self: flex-end;
    gap: 15px;
}

.gallery,.cosmology,.biology,.collections,
.evolution,.robotics,.ecology {
    position: relative;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.gallery h2,
.cosmology h2,
.biology h2,
.collections h2,
.evolution h2,
.robotics h2,
.ecology h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #4B3C20;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 150%; /* 60px */
}

.cosmology h2,
.collections h2,
.evolution h2,
.robotics h2,
.ecology h2 {
    color: white;
}

.position-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.position-top {
    position: absolute;
    top: 20px;
    right: 20px;
}

.flex-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.flex-container div img {
    border-radius: 24px;
}

/* shop */

.shop-wrapper {
    min-height: 500px;
    padding: 40px 80px;
    border-radius: 30px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.20)), to(rgba(0, 0, 0, 0.20))),
                 url("../images/shop.jpg") lightgray center center / cover no-repeat;
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
                 url("../images/shop.jpg") lightgray center center / cover no-repeat;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
                 url("../images/shop.jpg") lightgray center center / cover no-repeat;
    -webkit-box-shadow: 0px 70px 134px 0px rgba(0, 0, 0, 0.25), 0px -70px 134px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 70px 134px 0px rgba(0, 0, 0, 0.25), 0px -70px 134px 0px rgba(0, 0, 0, 0.12);   
    color: #FFF;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.40);
    font-family: Raleway;
    font-weight: 700;
}

.shop-wrapper h2 {
    margin-bottom: 30px;
    font-size: 3.2rem;
    font-weight: 600;
}

.shop-wrapper a {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 400px;
}

.shop-desc {
    font-size: 4rem;
    max-width: 700px;
}

.shop-info {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
    font-weight: 600;
}